MAX_ACTIVE_TASKS: 1
VIRTUAL_SERVER_TTL: 1
CONNECTOR: 'nova'
LOCAL_SCRIPTS_FOLDER: '/vagrant/pipeline-scheduler/scripts'
REMOTE_BASE_FOLDER: '/home/ubuntu'
TIMETEST_CSV_FILE: 'timetest.csv'
HOST: '0.0.0.0'
PORT: 8100