MAX_CONNECTION_RETRIES: 100
CONNECTION_RETRY_INTERVAL: 1
FLAVOR: 2
AUTH_KEYNAME: 'test_key'
SECURITY_GROUP: 'SSH_ALLOWED'
USE_FLOATING_IP: True
IP_POOL: null
NETWORK_ID: null
CREDENTIALS_FILE: '/home/vagrant/devstack/openrc'
IMAGE_ID: 'e7fb1f98-621f-4dee-b589-3f128d660d65'